%h3= t('user.home.dashboard.show.header', name: current_user.name)

%div.row
  %div.col-md-8
    %div.panel.panel-default
      %div.panel-heading= t('user.home.dashboard.show.account_header')
      %div.panel-body= 'TODO'
  %div.col-md-4
    = render 'membership'
